/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.showBtn {
  display: flex;
}

.hideBtn {
  display: none;
}

/* Background Video */
.video-1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

/* Header */
.custom-header {
  background-image: linear-gradient(rgba(104, 102, 236, 0.3) 0%,
          rgba(102, 176, 236, 0.6) 100%);
  display: flex;
  flex-direction: column;
}